<div class="contact-box hide-on-mobile">
    <div class="first"><i class="fa fa-phone-square" aria-hidden="true"></i> CONTACT 1234567891</div>
    <div class="second"><i class="fa fa-truck" aria-hidden="true"></i> FREE
        SHIPPING</div>
    <div class="third"><i class="fa fa-shopping-basket" aria-hidden="true"></i> BEST QUALITY PRODUCTS</div>
</div>
<mat-progress-bar mode="indeterminate" *ngIf="loadingEnable"></mat-progress-bar>
<div class="header-box">
    <div class="container">
        <div class="row">
            <div class="mobile-view col-xs-6">
                <mat-icon fontSet="material-icons-outlined" class="mob-icon" (click)="toggelSidenav()">menu</mat-icon>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                <div class="logo">
                    <a [routerLink]="['/home']" style="width: 90px;">
                        <img src="../../../assets/images/logo-vegetable.png"
                            height="90" width="150px">
                    </a>
                </div>
            </div>
            
            <div class="col-md-7 pt-4 pl-4">
                <div class="menu hide-on-mobile">
                    <ul class="list">
                        <li class="contain"  routerLinkActive="active">
                            <!-- [mdePopoverTriggerFor]="eyeglassPopover" [mdePopoverOffsetY]="60"
                            [mdePopoverArrowOffsetX]="0" mdePopoverTriggerOn="hover" -->
                            <span class="text-uppercase" [routerLink]="['/products/vegetable']">Vegetables</span>
                        </li>
                        <li class="contain" routerLinkActive="active">
                            <!-- [mdePopoverTriggerFor]="sunglassPopover" [mdePopoverOffsetY]="60"
                            [mdePopoverArrowOffsetX]="0" mdePopoverTriggerOn="hover" -->
                            <span class="text-uppercase" [routerLink]="['/products/Fruits']">Fruits</span>
                        </li>
                        <!-- <li class="contain" routerLinkActive="active">
                            <span class="text-uppercase"><i class="fa fa-tags text-danger" aria-hidden="true"></i> Offers</span>
                        </li> -->
                        <li>
                            <div id="demo-2">
                                <input type="search" placeholder="Search">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 pt-4 pl-4 hide-on-mobile">

                    <div class="row">
                        <div class="col-md-6 w-auto contain text-center" *ngIf="!user" (click)="openLoginDialog()">

                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvUSsKmg8eAXt7AMn4YNFMLROT_yLtb3kKjatqSL3FGTWkcxTC"
                                    height="25px" width="25px">
                                <p>SIGN IN</p>

                        </div>
                        <div class="col-md-6 w-auto contain profile dropdown" *ngIf="user" [mdePopoverTriggerFor]="profilePopover"
                        [mdePopoverOffsetX]="-50" [mdePopoverOffsetY]="60" mdePopoverTriggerOn="click">

                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvUSsKmg8eAXt7AMn4YNFMLROT_yLtb3kKjatqSL3FGTWkcxTC"
                                height="25px" width="25px">
                            <p>PIYUSH</p>

                        </div>
                        <div class="col-md-6 w-auto contain" [mdePopoverTriggerFor]="cartPopover"
                        [mdePopoverOffsetX]="-280" [mdePopoverOffsetY]="60" mdePopoverTriggerOn="click" >
                        <div style="display:flex; flex-direction: column; position: relative;">
                            <span class="count">{{cartItems.length}}</span>
                            <img src="https://cdn0.iconfinder.com/data/icons/e-commerce-set-03/64/shopping-bags-512.png"
                                height="25px" width="25px">
                            <span>BAG</span>
                        </div>
                        </div>
                    </div>


                <div class="cart-icon mobile-view" *ngIf="!user">
                    <button mat-stroked-button color="primary" class="button" (click)="openLoginDialog()">LOGIN</button>
                </div>
                <div class="cart-icon mobile-view" *ngIf="user">
                    <a [routerLink]="['/myprofile/notifications']">
                        <mat-icon fontSet="material-icons-outlined">notification_important</mat-icon>
                    </a>&nbsp; &nbsp;
                    <a [routerLink]="['/shopping-cart']">
                        <mat-icon fontSet="material-icons-outlined">add_shopping_cart</mat-icon>
                    </a>
                </div>
              </div>
        </div>






    </div>
</div>
<!-- <mde-popover #eyeglassPopover="mdePopover" [mdePopoverCloseOnClick]="true">
    <div class="eyeglass-catgory">
        <div class="bg-light h-100 w-100 p-4 rounded menu">
            <div class="row">
                <div class="col-md-6">
                    <h6 [routerLink]="['/products/vegetables']"> Fresh Vegetables</h6>
                    <div class="ml-2" *ngFor="let item of items">
                    <p *ngIf="item.subCategory.category.categoryName === 'Vegitable'" [routerLink]="['/products/vegetables']">{{item.itemName}}</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img width="168" src="../../../assets/images/vegetable.png" class="productImg" />
                </div>
            </div>
          </div>
    </div>
</mde-popover> -->
<!-- <mde-popover #sunglassPopover="mdePopover" [mdePopoverCloseOnClick]="true">
    <div class="eyeglass-catgory">
      <div class="bg-light h-100 w-100 p-4 rounded menu">
        <div class="row">
            <div class="col-md-6">
                <h6 [routerLink]="['/products/fruits']"> Fresh Fruit</h6>
                <div class="ml-2" *ngFor="let item of items">
                    <p *ngIf="item.subCategory.category.categoryName === 'Fruits'" [routerLink]="['/products/vegetables']">{{item.itemName}}</p>
                    </div>
            </div>
            <div class="col-md-6">
                <img width="135" src="../../../assets/images/fruits-image.jpg" class="productImg" />
            </div>
        </div>
      </div>
    </div>
</mde-popover> -->
<mde-popover #profilePopover="mdePopover" [mdePopoverCloseOnClick]="true">
    <div class="profile-popover">
        <ul class="profile-dropdown">

            <li [routerLink]="['/my-account/orders']" class="profile-dropdown-item" routerLinkActive="active">
                <button mat-icon-button color="dark">
                    <mat-icon fontSet="material-icons-outlined">receipt</mat-icon>
                </button>
                Orders
            </li>
            <li [routerLink]="['/my-account/favourites']" class="profile-dropdown-item" routerLinkActive="active">
                <button mat-icon-button color="dark">
                    <mat-icon fontSet="material-icons-outlined">favorite</mat-icon>
                </button>
                Favorites
            </li>
            <li [routerLink]="['/myprofile/carddetails']" class="profile-dropdown-item" routerLinkActive="active">
                <button mat-icon-button color="dark">
                    <mat-icon fontSet="material-icons-outlined">credit_card</mat-icon>
                </button>
                Payment
            </li>
            <li [routerLink]="['/my-account/favourites']" class="profile-dropdown-item" routerLinkActive="active">
                <button mat-icon-button color="dark">
                    <mat-icon fontSet="material-icons-outlined">help</mat-icon>
                </button>
                help
            </li>
            <li [routerLink]="['/myprofile']" class="profile-dropdown-item" routerLinkActive="active">
                <button mat-icon-button color="dark">
                    <mat-icon fontSet="material-icons-outlined">person</mat-icon>
                </button>
                Account
            </li>
            <li (click)="logout()" class="profile-dropdown-item" style="padding-left: 12px;;">Sign Out</li>
        </ul>
    </div>
</mde-popover>
<!-- <app-sidenav class="sidenavEnable"></app-sidenav> -->
<mde-popover #cartPopover="mdePopover" [mdePopoverCloseOnClick]="true">
    <div class="popover cart-card flex-column">
        <div class="cart-card-header flex-with-space-between padding-horizontaly">
            <div class="flex-item-center">
                <mat-icon fontSet="material-icons-outlined">work_outline</mat-icon>
                <div class="very-small-gap"></div>
                <span style="font-size: 20px; font-weight: 500;">Your Order ({{cartItems.length}})</span>
            </div>
            <mat-icon fontSet="material-icons-outlined" (click)="closeCartPopover()">close</mat-icon>
        </div>
        <div class="cart-card-body">
            <ul style="padding: 0;">
                <li class="flex-with-space-between padding" *ngFor="let item of cartItems">
                    <div class="flex-item-center">
                        <!-- <mat-form-field style="width: 60px; background: rgb(246, 246, 246);" color="dark">
                            <mat-select>
                                <mat-option *ngFor="let item of quantity" [value]="item.value"
                                    style="margin-left: 5px !important;">
                                    {{item.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field> -->
                        <div class="small-gap"></div>
                        <div class="flex-column">
                            <span style="font-size: 14px; font-weight: 500;"> {{item.itemName}} </span>
                            <a style="margin-top: 5px;" class="success">{{item.quantity}} * {{item.itemPrice}}</a>
                        </div>
                        <div class="small-gap"></div>
                        <div class="flex-column">
                            <div (click)="addCartQuantity(item.cartDetailId,item.itemId,item.itemName,item.itemPrice,'',item.userId)">+</div>{{item.quantity}}<div (click)="minusitemquantity(item.itemId,item.cartDetailId,item.itemPrice,item.userId)">-</div>
                        </div>
                    </div>
                    <div><span>₹&nbsp;{{item.totalPrice}}</span></div>
                </li>
            </ul>
        </div>
        <div class="cart-card-footer small-padding">
            <button [routerLink]="['/shopping-cart']" (click)="closeCartPopover()"  mat-raised-button class="full-width full-height success-background" >
                <div class="flex-with-space-between" style="padding: 5px;">
                    <div>
                        ({{cartItems.length}})
                    </div>
                    <div>
                        Next: Checkout
                    </div>
                    <div>
                        ₹{{totalAmount}}
                    </div>
                </div>
            </button>
        </div>


    </div>
</mde-popover> 
