<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4 style="text-transform:uppercase">Respectale</h4>
                <p>
                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
                </p>
            </div>
           
            <div class="col-md-3 p-2">
                <h4>ADDRESS</h4>
            <p>
                203 Fake St. Mountain View, San Francisco, California, USA</p>
            <p>+2 392 3929 210</p>
            <p>info@yourdomain.com
            </p>
            </div>
            <div class="col-md-3 p-2">
                <h4>ADDRESS</h4>
            <p>
                203 Fake St. Mountain View, San Francisco, California, USA</p>
            <p>+2 392 3929 210</p>
            <p>info@yourdomain.com
            </p>
            </div>
            <div class="col-md-3 p-2">
                <img src="../../../assets/images/organic-footer-img.png" class="w-100" alt="">
            </div>
        </div>
        <div class="copyright">
            <p>Copyright ©2020 | All rights reserved</p>
        </div> 
    </div>
    
</div>