<app-slider></app-slider>

<!-- <div class="text-left pt-5 pb-2">
            <h2 class="text-uppercase"><i class="fa fa-envira text-success" aria-hidden="true"></i> Vegetables</h2>
        </div> -->
    <!-- <ng-container *ngIf="!images">
                <mat-card class="example-card" *ngFor="let item of default">
                    <skltn-root class="example-card" duration="1000" [rectRadius]="10" flareWidth="50%" bgFill="#d8d5d1"
                        flareFill="rgba(255,255,255, 0.5)">
                       
                        <div class="skltn-card">
                            <div skltn-bone class="skltn-card__avatar" type="circle"></div>
                            <div class="skltn-card__body">
                                <div skltn-bone class="skltn-card__title"></div>
                                <div skltn-bone class="skltn-card__line"></div>
                                <div skltn-bone class="skltn-card__line"></div>
                            </div>
                        </div>
                    </skltn-root>
                </mat-card>
            </ng-container> -->





    <!-- <mat-card class="example-card onLoad border" (click)="productHome(item.id)">
                <img src="https://demo.hasthemes.com/young-preview/young/assets/images/product/organic-pro-3.jpg"
                    class="productImg" mat-card-image />
                <mat-card-content>
                    <div style="display:flex; flex-direction:column; align-items:center">
                        <span style="margin: 0; font-weight: bold;" class="">Coriander</span>
                        <span class="sky-font">Starting At 499</span>
                    </div>
                </mat-card-content>
            </mat-card> 
             <mat-card class="example-card onLoad border" (click)="productHome(item.id)">
                <img src="https://demo.hasthemes.com/young-preview/young/assets/images/product/organic-pro-6.jpg"
                    class="productImg" mat-card-image />
                <mat-card-content>
                    <div style="display:flex; flex-direction:column; align-items:center">
                        <span style="margin: 0; font-weight: bold;">Lemon</span>
                        <span>Starting At 785</span>
                    </div>
                </mat-card-content>
            </mat-card> 
            <mat-card class="example-card onLoad border" (click)="productHome(item.id)">
                <img src="https://demo.hasthemes.com/young-preview/young/assets/images/product/organic-pro-7.jpg"
                    class="productImg" mat-card-image />
                <mat-card-content>
                    <div style="display:flex; flex-direction:column; align-items:center">
                        <span style="margin: 0; font-weight: bold;">Garlic</span>
                        <span>Starting At 399</span>
                    </div>
                </mat-card-content>
            </mat-card> -->

    <!-- <div class="mobile" *ngFor="let item of items" (click)="productHome(item.id)">
                <mat-card class="example-card onLoad border">
                    <img src="https://demo.hasthemes.com/young-preview/young/assets/images/product/organic-pro-8.jpg" class="productImg"
                        mat-card-image />
                    <mat-card-content>
                        <div style="display:flex; flex-direction:column; align-items:center">
                            <div class="mobile-card-details">
                                <span style="margin: 0; font-weight: bold;">{{item.itemName}}</span>

                            </div>
                            <div>
                                MRP. <span style="font-size: 12px;" [ngClass]="'strikethrough'">Rs.{{item.regularPrice}}</span> &nbsp; Rs. {{item.regularPrice}}
                            </div>
                            <div>
                                <span class="input-group-addon"> Qty </span> 
                                <input type="number" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-maxlength"/>
                            </div>
                        </div>

                        <div class="mobile-card-footer">
                            <button mat-button mat-stroked-button color="primary" class="button">
                                ADD TO CART
                            </button>
                            <button mat-button>SHARE
                            </button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div> -->


<div class="container-fluid bg-color">
    <div class="container">
        <div class="title text-left pt-5 mb-5 mt-0 ml-0">
            <h2><img class="mb-1" src="../../assets/images/sale.png" height="35px" alt=""> OFFERS </h2>
        </div>
    </div>
    <div class="body">
        <!-- <ng-container *ngIf="!images">
            <mat-card class="example-card" *ngFor="let item of default">
                <skltn-root class="example-card" duration="1000" [rectRadius]="10" flareWidth="50%" bgFill="#d8d5d1"
                    flareFill="rgba(255,255,255, 0.5)">
                 
                    <div class="skltn-card">
                        <div skltn-bone class="skltn-card__avatar" type="circle"></div>
                        <div class="skltn-card__body">
                            <div skltn-bone class="skltn-card__title"></div>
                            <div skltn-bone class="skltn-card__line"></div>
                            <div skltn-bone class="skltn-card__line"></div>
                        </div>
                    </div>
                </skltn-root>
            </mat-card>
        </ng-container> -->

        <mat-card class="example-card" (click)="productHome(item.id)">
            <img src="https://www.goggles4u.com/media/weltpixel/owlcarouselslider/images/b/o/bogo-g4u-hp-mob_2.jpg"
                class="productImg" mat-card-image />
        </mat-card>
        <mat-card class="example-card" (click)="productHome(item.id)">
            <img src="http://www.bigsale.com.my/images/user/13790/Adv/87563/owl-20-percentage-550-550.png"
                class="productImg" mat-card-image />
        </mat-card>
        <mat-card class="example-card" (click)="productHome(item.id)">
            <img src="https://www.classiceyes.co.za/wp-content/uploads/2017/12/bogofpost-1024x683.jpg"
                class="productImg" mat-card-image />
        </mat-card>
        <mat-card class="example-card" (click)="productHome(item.id)">
            <img src="http://www.nhoptometrist.co.za/wp-content/uploads/2017/03/50-percent-off-new.jpg"
                class="productImg" mat-card-image />
        </mat-card>
    </div>
    <div class="mobile-view">
        <div class="title">
            New Products Arrival
            <button mat-button mat-raised-button color="primary" class="viewAllBtn">
                View All
            </button>
        </div>
        <div class="mobile-card" *ngFor="let item of images" (click)="productHome(item.id)">
            <div class="header">
                <img width="150px" height="150px" src="{{item.image}}" alt="Photo of a Shiba Inu">
            </div>
            <div class="footer">
                {{item.text}}
            </div>
        </div>
    </div>
</div>
<img src="../../assets/images/bottom-img.png" class="w-100" alt="">
    <!-- <div class="search-box">
    <div class="icon">
        <mat-icon class="leftIcon">star</mat-icon>
    </div>
    <div class="search-text">
        <span>Skill tests are no longer available on Upwork. Learn more.</span>
    </div>
    <div class="close">
        <mat-icon style="padding:7px;">close</mat-icon>
    </div>
</div> -->
    <!-- 
<div class="search-box">
    <div class="search-text">
        <span>Skill tests are no longer available on Upwork. Learn more.</span>
        <span>Skill tests are no longer available on Upwork. Learn more.</span>
        <span>Skill tests are no longer available on Upwork. Learn more.</span>
        <span>Skill tests are no longer available on Upwork. Learn more.</span>
        <span>Skill tests are no longer available on Upwork. Learn more.</span>
        <span>Skill tests are no longer available on Upwork. Learn more.</span>
        <span>Skill tests are no longer available on Upwork. Learn more.</span>
        <span>Skill tests are no longer available on Upwork. Learn more.</span>
        <span>Skill tests are no longer available on Upwork. Learn more.</span>
        <span>Skill tests are no longer available on Upwork. Learn more.</span>
        <span>Skill tests are no longer available on Upwork. Learn more.</span>
        <span>Skill tests are no longer available on Upwork. Learn more.</span>
        <span>Skill tests are no longer available on Upwork. Learn more.</span>
        <span>Skill tests are no longer available on Upwork. Learn more.</span>
        <span>Skill tests are no longer available on Upwork. Learn more.</span>
        <span>Skill tests are no longer available on Upwork. Learn more.</span>

    </div>
    <div class="close">
        <mat-icon style="padding:7px;">close</mat-icon>
    </div>
</div> -->